# pre-commit is used for installing commit hooks which ensure code quality
# Learn more at: https://pre-commit.com/
pre-commit

black==25.1.0
isort==6.0.1
mypy==1.15.0
bandit==1.8.3
flake8==5.0.4
flake8-copyright==0.2.4
pyflakes==2.5.0
pytest==8.4.2
pytest-asyncio==1.3.0
setuptools==71.1.0

# stubs for mypy
types-PyYAML
types-jsonschema

# install dev requirements
sphinx==6.1
sphinx-substitution-extensions==2022.2.16
sphinx-tabs==3.4.5
sphinx-copybutton==0.5.2
sphinxext-rediraffe==0.3.0
pydata-sphinx-theme==0.16.1
# These are added as newer versions require sphinx>5.0, and pip doesn't resolve to older versions correctly
sphinxcontrib-applehelp<1.0.8
sphinxcontrib-devhelp<1.0.6
sphinxcontrib-htmlhelp<2.0.5
sphinxcontrib.serializinghtml<1.1.10
sphinxcontrib.qthelp<1.0.7
sphinx_toolbox<=3.8.0
sphinx_design==0.6.1

-c constraints/constraints.txt
# Frameworks do not support all python versions up to 3.14 yet
-e .[autogen,langgraph-full,wayflow_oci,wayflow_datastore,wayflow_a2a,agent-framework,openai-agents]
# CrewAI is not installed by default due to dependency incompatability with other frameworks
# -e .[crewai]
# or
-e .

# Additional packages for tests
cryptography

# For remote tool tests
fastapi[standard-no-fastapi-cloud-cli]
